In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('data/7SegmentDisplay.csv')

In [5]:
df

   Digit  Led0  Led1  Led2  Led3  Led4  Led5  Led6
0      0   1.0   1.0   1.0   1.0   1.0   1.0   0.0
1      1   0.0   1.0   1.0   0.0   0.0   0.0   0.0
2      2   1.0   1.0   0.0   1.0   1.0   0.0   1.0
3      3   1.0   1.0   1.0   1.0   0.0   0.0   1.0
4      4   0.0   1.0   1.0   0.0   0.0   1.0   1.0
5      5   1.0   0.0   1.0   1.0   0.0   1.0   1.0
6      6   0.0   0.0   1.0   1.0   1.0   1.0   1.0
7      7   1.0   1.0   1.0   0.0   0.0   0.0   0.0
8      8   1.0   1.0   1.0   1.0   1.0   1.0   1.0
9      9   1.0   1.0   1.0   0.0   0.0   1.0   1.0

In [13]:
X = df.loc[:, df.columns != 'Digit']
X

   Led0  Led1  Led2  Led3  Led4  Led5  Led6
0   1.0   1.0   1.0   1.0   1.0   1.0   0.0
1   0.0   1.0   1.0   0.0   0.0   0.0   0.0
2   1.0   1.0   0.0   1.0   1.0   0.0   1.0
3   1.0   1.0   1.0   1.0   0.0   0.0   1.0
4   0.0   1.0   1.0   0.0   0.0   1.0   1.0
5   1.0   0.0   1.0   1.0   0.0   1.0   1.0
6   0.0   0.0   1.0   1.0   1.0   1.0   1.0
7   1.0   1.0   1.0   0.0   0.0   0.0   0.0
8   1.0   1.0   1.0   1.0   1.0   1.0   1.0
9   1.0   1.0   1.0   0.0   0.0   1.0   1.0

In [10]:
Y = pd.get_dummies(df['Digit'], prefix='Digit')
Y

,Digit_0,Digit_1,Digit_2,Digit_3,Digit_4,Digit_5,Digit_6,Digit_7,Digit_8,Digit_9
0,1,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0
5,0,0,0,0,0,1,0,0,0,0
6,0,0,0,0,0,0,1,0,0,0
7,0,0,0,0,0,0,0,1,0,0
8,0,0,0,0,0,0,0,0,1,0
9,0,0,0,0,0,0,0,0,0,1